body {
  margin: 0;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 10%;
}

.modal-img {
  max-width: 100%;
  object-fit: contain;
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-thumb {
  background-clip: content-box;
  border: 1px solid transparent;
  border-radius: 7px;
  box-shadow: inset 0 0 0 10px;
}